@font-face {
  font-family: "IntelOne Display";
  src: url("./assets/fonts/intel-one-display/intelone-display-font-family-webfonts-woff/intelone-display-light.woff")
    format("woff");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Display";
  src: url("./assets/fonts/intel-one-display/intelone-display-font-family-webfonts-woff/intelone-display-regular.woff")
    format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Display";
  src: url("./assets/fonts/intel-one-display/intelone-display-font-family-webfonts-woff/intelone-display-medium.woff")
    format("woff");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Display";
  src: url("./assets/fonts/intel-one-display/intelone-display-font-family-webfonts-woff/intelone-display-bold.woff")
    format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Text";
  src: url("./assets/fonts/intel-one-bodytext/intelone-bodytext-font-family-woff/intelone-text-light.woff")
    format("woff");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Text";
  src: url("./assets/fonts/intel-one-bodytext/intelone-bodytext-font-family-woff/intelone-text-lightitalic.woff")
    format("woff");
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: "IntelOne Text";
  src: url("./assets/fonts/intel-one-bodytext/intelone-bodytext-font-family-woff/intelone-text-regular.woff")
    format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Text";
  src: url("./assets/fonts/intel-one-bodytext/intelone-bodytext-font-family-woff/intelone-text-italic.woff")
    format("woff");
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: "IntelOne Text";
  src: url("./assets/fonts/intel-one-bodytext/intelone-bodytext-font-family-woff/intelone-text-medium.woff")
    format("woff");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Text";
  src: url("./assets/fonts/intel-one-bodytext/intelone-bodytext-font-family-woff/intelone-text-mediumitalic.woff")
    format("woff");
  font-weight: 500; /* Medium */
  font-style: italic;
}

@font-face {
  font-family: "IntelOne Text";
  src: url("./assets/fonts/intel-one-bodytext/intelone-bodytext-font-family-woff/intelone-text-bold.woff")
    format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Text";
  src: url("./assets/fonts/intel-one-bodytext/intelone-bodytext-font-family-woff/intelone-text-bolditalic.woff")
    format("woff");
  font-weight: 700; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: "IntelOne Mono";
  src: url("./assets/fonts/intel-one-mono/woff/IntelOneMono-Light.woff")
    format("woff");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Mono";
  src: url("./assets/fonts/intel-one-mono/woff/IntelOneMono-LightItalic.woff")
    format("woff");
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: "IntelOne Mono";
  src: url("./assets/fonts/intel-one-mono/woff/IntelOneMono-Regular.woff")
    format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Mono";
  src: url("./assets/fonts/intel-one-mono/woff/IntelOneMono-Italic.woff")
    format("woff");
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: "IntelOne Mono";
  src: url("./assets/fonts/intel-one-mono/woff/IntelOneMono-Medium.woff")
    format("woff");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Mono";
  src: url("./assets/fonts/intel-one-mono/woff/IntelOneMono-MediumItalic.woff")
    format("woff");
  font-weight: 500; /* Medium */
  font-style: italic;
}

@font-face {
  font-family: "IntelOne Mono";
  src: url("./assets/fonts/intel-one-mono/woff/IntelOneMono-Bold.woff")
    format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Mono";
  src: url("./assets/fonts/intel-one-mono/woff/IntelOneMono-BoldItalic.woff")
    format("woff");
  font-weight: 700; /* Bold */
  font-style: italic;
}
